nav {
    display: flex;
}
nav>.title {
    width: 150px;
}
nav>.menu {
    display: flex;
    flex:auto;
    align-items: center;
    justify-content: flex-end;
}
nav>.menu-trigger {
    display: none;
    flex: auto;
    justify-content: flex-end;
}
nav>.menu>.item {
    padding: 0px 15px;
}
@media (max-width: 600px) {
    nav>.menu {
        display: none;
        align-items: center;
        flex-wrap: wrap;
        position: fixed; top:0px; right:0px; /* 把 item 定位在右上角 */
        width: 200px;
        background-color: darksalmon;
    }
    nav>.menu>.item {
        width: 100%; text-align: center;
        padding: 15px;
    }
    nav>.menu-trigger {
        display: flex;
    }
}
